*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

.navbar-nav{
    gap: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    .navbar-brand{
        margin-left: 0px;
    }
}

.nav-item:hover{
    border-bottom: 2px solid #000;
}

.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

#country{
    position: relative;
    z-index: 2;
    
}
.video-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 990px) {
   .navbar-nav{
        padding: 0;
        margin: 0;
        gap: 0px;
        display: block;
    }

    #country{
        display: none;
    }
}